@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: 0.2s linear;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
button,
input {
  border: none;
  outline: none;
}
/* gobal varible  */
:root {
  --bg-color: #0c0b09;
  --light-bg-color: #1a1814;
  --gold: #cda45e;
  --white: #fff;
  --playfair-disply-font: "Playfair Display", serif;
  --logo-font: "Lobster", cursive;
  --shadow: 0 0 13px var(--icon-bg);
  --icon-bg: #28251f;
}
html::-webkit-scrollbar {
  width: 0.9rem;
}
html::-webkit-scrollbar-track {
  background: var(--gold);
}
html::-webkit-scrollbar-thumb {
  background: var(--light-bg-color);
  border-radius: 5rem;
}
/* ------------------------------------Section Home page ---------------------------*/
 .Home-section {
  font-family: var(--playfair-disply-font);
  height: 100vh;
  width: 100%;
  background: url("../image/homePage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.Home-section .content {
  font-size: 30;
  text-align: center;
  color: var(--gold);
  text-transform: capitalize;
  overflow: hidden;
  font-family: var(--playfair-disply-font);
  line-height: 1.7;
  margin-top: 250px;
}
.Home-section::before{
  content: '';
   left: 0;
   top: 0;
   position: absolute;
   background-color: #000000;
   opacity: 0.7;
   z-index: -1;
   height: 100vh;
   width: 100%;
}
.logo-heading{
   font-family: var(--logo-font);
   font-size: 32px;
   transition: color 0.4s;
}
.logo-heading:hover{
  color: var(--gold);
}
 .Home-section .content h1 ,
.Home-section .content a{
  color: var(--white);
  font-weight: 900;
  font-size: 40px;
}
nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 300;
}
.Home-section .home-btn {
  color: var(--white);
  font-family: var(--playfair-disply-font);
  padding: 10px 20px;
  border-radius: 40px;
  border: 2px solid var(--white);
  width: fit-content;
  position: absolute;
  text-transform: uppercase;
  left:50%;
  transform: translate(-50%);
  bottom: 20%;
  background-color: none;
  font-size: 22px;
  z-index: 100 ;
  margin-top: 30px;
}
.Home-section .home-btn:hover{
  background-color: var(--gold);
  border: 1px solid var(--gold);
}
.heading-logo{
  font-family: var(--logo-font);
  font-size: 30px;
}
label.logo {
  color: var(--white);
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-size: 40px;
  padding-left: 50px;
}
nav .nav-menu {
  float: right;
  margin-right: 100px;
  
}
nav .nav-menu li {
  display: block;
  margin: 80px 0;
  line-height: 30px;
}
.active:hover {
    background: rgba(197, 157, 95, 1);
    transition: 0.5s;
  }
  .active1:hover {
    background: rgba(197, 157, 95, 1);
    transition: 0.5s;
  }
  .active2:hover {
    background: rgba(197, 157, 95, 1);
    transition: 0.5s;
  }
nav .nav-menu li a {
  font-size: 30px;
  color: white;
  padding: 7px 40px;
  border-radius: 19px;
  text-transform: uppercase;
}
#check:checked ~ .nav-menu {
  left: 0;
}
a:hover {
  background: rgba(197, 157, 95, 1);
  transition: 0.5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: block;
}
#check {
  display: none;
}
a:hover,
a.active {
  background: none;
  color: rgba(197, 157, 95, 1);
}
.nav-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  top: 80px;
  left: 50%;
  text-align: right;
  transition: all 0.5s;
}
/* ---------------------------------- Section About Us ----------------------------------*/

/*---------------------------------------------ipad------------------------------------------------*/

@media (min-width: 415px) and (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  .Home-section {
    background-position: center;
  }
  label.logo {
    font-size: 40px;
    padding-left: 50px;
  }
  nav .nav-menu li a {
    font-size: 30px;
  }
  .checkbtn {
    display: block;
  }
  .nav-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav .nav-menu li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav .nav-menu li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: rgba(197, 157, 95, 1);
  }
  #check:checked ~ .nav-menu {
    left: 0px;
  }

  /* html {
    font-size: 55%;
  } */
  header.sticky{
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--gold);
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header {
    padding: 1.5rem 2rem;
  }
}
/*-----------------------------------lab--------------------------------*/
@media (min-width: 821px){
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }
  
  .checkbtn {
    display: none;
  }
  nav .nav-menu li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav .nav-menu li a {
    font-size: 14px;
  }
  .nav-menu {
    width: 50%;
    height: 13vh;
    position: initial;
    transition: all 0.5s;
    background-color: #00000000;
  }
  .heading{
    padding:1%;
  }
.heading span {
  color: rgba(197, 157, 95, 1);
  text-transform: uppercase;
}
.home {
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.home .content {
  max-width: 60rem;
}

}
