@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: 0.2s linear;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
/* gobal varible  */
:root {
  --bg-color: #0c0b09;
  --light-bg-color: #1a1814;
  --gold: #cda45e;
  --white: #fff;
  --playfair-disply-font: "Playfair Display", serif;
  --logo-font: "Lobster", cursive;
  --shadow: 0 0 13px var(--icon-bg);
  --icon-bg: #28251f;
}
html::-webkit-scrollbar {
  width: 0.9rem;
}
html::-webkit-scrollbar-track {
  background: var(--gold);
}
html::-webkit-scrollbar-thumb {
  background: var(--light-bg-color);
  border-radius: 5rem;
}